<footer class="l-container l-container--full">
  <h2><span class="u-visually-hidden">{{ site.title }}</span><img src="{{ "/img/willows_logo-small.jpg" | prepend: site.github.url }}" class="logo" alt="" /></h2>
  <p>
    Community Centre<br />
    Barmoor Ln<br />
    Ryton<br />
    Tyne and Wear<br />
    NE40 3QP
  </p>
  <p>
    <a href="mailto:{{ site.email }}">Email us: <span aria-label="willows montessori nursery at G mail dot com">{{ site.email }}</span></a>
  </p>
  <p>
    Phone: 0191 413 1929
  </p>
  <small>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</small>
</footer>
