<table class="l-fixed-table">
  <thead>
    <tr>
      <th>
        Areas of Learning and Development and aspects
      </th>
      <th>
        How our Montessori practice supports this area of learning
      </th>
    </tr>
  </thead>

  {% if include.type == "prime" %}
    <tr>
      <th colspan="2">
        Communication and Language
      </th>
    </tr>
    <tr>
    <td>
      <ul>
        <li>Listening and Attention</li>
        <li>Understanding</li>
        <li>Speaking</li>
      </ul>
    </td>
    <td>
      <p>
        We offer a language rich environment with many opportunities to enjoy books, stories, songs, rhymes and poems. Children are listened to and learn how to listen, as well as being encouraged to talk and use a wide range of language to communicate their thoughts, ideas and feelings. We introduce children to many new words and different languages (French)
      </p>
    </td>
  </tr>
  <tr>
    <th colspan="2">
      Physical Development
    </th>
  </tr>
  <tr>
    <td>
      <ul>
        <li>Moving and handling</li>
        <li>Health and self-care</li>
      </ul>
    </td>

    <td>
      <p>
        Children have access to a safe indoor and outdoor environment. We help to develop children’s fine motor skills with activities such as pouring, transferring, threading, sewing, polishing and building. They learn to use tools such as scissors, screwdrivers, hammers etc. Their gross motor skills are developed through balancing,running, carrying, transporting, digging, sweeping and more.
      </p>
      <p>
        Children have constant access to drinking water, learning to understand what their body needs to stay healthy. Children are helped to understand the importance of physical activity and to make healthy choices in relation to food and personal hygiene.
      </p>
    </td>
  </tr>
  <tr>
    <th colspan="2">
      Personal, Social and Emotional Development.
    </th>
  </tr>
  <tr>
    <td>
      <ul>
        <li>Making relationships</li>
        <li>Self confidence and self awareness</li>
        <li>Managing feelings and behaviour</li>
      </ul>
    </td>
    <td>
      <p>
        Children are supported in developing a positive sense of themselves and others, to form positive relationships and develop respect for others. They develop social skills, sharing, turn taking and appropriate behaviour in groups. Children learn how to take good care of themselves and others, they learn to care for their environment, the plants and the nursery animals – hens, rabbits, goldfish and stick insects.
      </p>
    </td>
  </tr>

{% elsif include.type == "specific" %}

    <tr>
      <th colspan="2">
        Literacy
      </th>
    </tr>
    <tr>
      <td>
        <ul>
          <li>Reading</li>
          <li>Writing</li>
        </ul>
      </td>
    <td>
      <p>
        This involves encouraging children to link sounds and letters and to begin to read and write. Children are given access to a wide range of reading materials such as books, poems, environmental print etc to ignite their interest.  They have many opportunities to use their hands and fingers for mark making, they develop an effective way of holding a pencil and with use of the insets for design and sandpaper letters develop the skills to begin to form recognisable letters and words. With the use of objects, pictures and the large moveable alphabet children go on to build words and make connections between reading and writing.
      </p>
    </td>
  </tr>
  <tr>
    <th colspan="2">
      Mathematics
    </th>
  </tr>
  <tr>
    <td>
      <ul>
        <li>Numbers</li>
        <li>Shapes space and measure</li>
      </ul>
    </td>

    <td>
      <p>
        Children are given opportunities to develop and improve their skills in counting and making connections between numbers and quantity, recognising number symbols and being able to name shapes. They are shown how to calculate simple addition and subtraction problems and are introduced to size and measuring.
      </p>
    </td>
  </tr>
  <tr>
    <th colspan="2">
      Understanding the World
    </th>
  </tr>
  <tr>
    <td>
      <ul>
        <li>People and communities</li>
        <li>The world</li>
        <li>Technology</li>
      </ul>
    </td>
    <td>
      <p>
        Children are guided into making sense of their physical world and their community through opportunities to explore, observe and find out about people, places, technology and the environment.
      </p>
      <p>
        They gain an understanding of life on planet earth through hands on activities about continents, elements, the solar system etc. They learn about different culturesand beliefs through artifacts, stories, games and music. They learn about their local environment through outings, Forest School and visits from people such as police officers, firemen etc.
      </p>
    </td>
  </tr>
  <tr>
    <th colspan="2">
      Expressive Arts and Design
    </th>
  </tr>
  <tr>
    <td>
      <ul>
        <li>Exploring and using media and materials</li>
        <li>Being imaginative</li>
      </ul>
    </td>
    <td>
      <p>
        This involves enabling children to explore and play with a wide range of media and materials as well as providing opportunities and encouragement for sharing their thoughts, ideas and feelings through a variety of activities in art, music, movement, dance, role-play and design and technology.
      </p>
      <p>
        Children have constant free access to art and craft materials for painting, drawing, cutting, sticking and model making. They are encouraged to find creative ways of expressing their ideas and feelings and are supported by teachers who understand that children’s creativity is about the process and not the end product. Children are encouraged to join in with role play, dance, music and movement activities and are introduced to a wide range of musical instruments.
      </p>
    </td>
  </tr>
  {% endif %}
</table>
