<nav id="globalNav" class="nav-global l-container l-container--full">
  <ul class="primary-nav">
    <li class="nav__item">
      <a href="{{ site.github.url }}">
        <span class="u-visually-hidden">Home</span>
        <svg class="icon icon-home2"><use xlink:href="#icon-home2"></use></svg>
      </a>
    </li>
    {% for col in site.collections %}
    {% assign section = col.label %}

    {% if section != "posts" %}
        <li class="nav__item">
          <a href="{{ col.label | replace: "_", "-" | prepend: site.baseurl | | downcase }}" class="nav-link nav-link--primary">{{ section | replace: "-", " " | capitalize }}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="nav__item">
      <a href="{{ site.github.url }}">
        Contact Us
      </a>
    </li>
  </ul>
</nav>
