<nav id="globalNav" class="nav-global l-container">
  <ul>
    {% for col in site.collections %}
    {% assign section = col.label %}

    {% if section != "posts" %}
      {% if section == "willows" %}
        {% assign section = "About Willows" %}
      {% endif %}
        <li>
          <a href="#">{{ section | replace: "_", " " | capitalize }}</a>
          <ul class="subnav">
            {% for page in site.[col.label] %}
              <li><a href="{{ page.url | prepend: site.github.url }}">{{ page.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
