<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
{% if page.gallery %}
  <script src="/js/responsive-carousel.min.js"></script>
  <link href="/css/responsive-carousel.css" rel="stylesheet">
  <link href="/css/responsive-carousel.slide.css" rel="stylesheet">
{% endif %}
<script src="/js/script.js" charset="utf-8"></script>

{% if page.bodyclass == "homepage" %}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endif %}