.btn-menu {
  display: none;
}

.subnav {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-in-out;
}

.nav-global {
  margin-bottom: 1.5rem;

  > ul {
    display: flex;
    flex-wrap: wrap;

    > li {
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-basis: 6.5625rem;
      flex-grow: 1;
      text-align: center;
      min-height: 3.125rem;

      a {
        display: block;
        text-transform: capitalize;
      }
    }
  }
}
